<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tidy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tidy">
        <activity
            android:name=".addreviewads"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".applyJob"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".addreview"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".review_Cleaner"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".viewAdz"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".display_adz"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".requests"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".viewCleaners"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".addAdz"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".cleaner_Menu"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".houseOwner_Menu"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar">

        </activity>
        <activity
            android:name=".cleanerSignup"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".houseOwnerSignup"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".cleanerLogin"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".houseOwnerLogin"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>